// {
//   "root": true,
//   "parser": "@typescript-eslint/parser",
//   "plugins": ["@typescript-eslint"],
//   "extends": [
//     "eslint:recommended",
//     "plugin:@typescript-eslint/recommended",
//     "react-app",
//     "plugin:cypress/recommended",
//     "prettier"
//   ],
//   "rules": {
//     // "no-console": "error",
//     "@typescript-eslint/explicit-module-boundary-types": "off"
//   }
// }
